*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: rgb(92, 92, 234);
    text-align: center;
    color: white;
    padding: 10px;
}

.panel{
    display: flex;
}
.main{
    width: 50vw;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    padding-right: 130px;
    gap: 15px;
}

#ipt{
    padding: 10px;
    padding-right: 80px;
    font-size: 15px;
}

#btn{
    padding: 10px;
    background-color: rgb(96, 96, 235);
    border-radius: 6px;
    color: white;
    border: none;
    
}

.dash{
    display: grid;
    height: 100vh;
    padding: 20px;
}

.board{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
    height: 30vh;
    background-color: rgb(75, 75, 235);
    color: white;
    display:grid;
    padding: 20px;
    text-align: left;
    border-radius: 12px;
}

.forecast title{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 18px;
}

.container{ 
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
} 

#demo1{
    width: 25%;
    height: 25vh;
    padding: 20px;
    background: grey;
    border-radius:  10px;
    font-family: serif;
    color: black;
}

#demo2{
    width: 25%;
    height: 25vh;
    padding: 20px;
    background: grey;
    border-radius: 10px;
    font-family: serif;
    color: black;
}

#demo3{                   
    width: 25%;
    height: 25vh;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
    font-family: serif;
    color: black;
}

#demo4{
    width: 25%;
    height: 25vh;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
    color: black;
    font-family: serif;
}

